VITE_API_BASE_URL=https://t2eowh5je8.execute-api.eu-north-1.amazonaws.com/dev
VITE_API_KEY=replace-with-api-gateway-key

VITE_AWS_REGION=eu-north-1
VITE_DYNAMODB_TABLE=MovieWatchlist

VITE_COGNITO_USER_POOL_ID=eu-north-1_Y5nn7dGTZ
VITE_COGNITO_USER_POOL_CLIENT_ID=3cksc23hm5hpbdmuhbkjc003ap
VITE_COGNITO_IDENTITY_POOL_ID=eu-north-1:53e62a5b-81d8-4542-b6d4-f5dd401e23a1
VITE_COGNITO_DOMAIN=moviesearch-rajalahti.auth.eu-north-1.amazoncognito.com
VITE_COGNITO_SCOPES=openid,email,profile,aws.cognito.signin.user.admin
VITE_COGNITO_REDIRECT_SIGN_IN=https://movies.rajalahti.me/,http://localhost:5173/,https://d1rv2osro1u0uc.cloudfront.net/
VITE_COGNITO_REDIRECT_SIGN_OUT=https://movies.rajalahti.me/,http://localhost:5173/,https://d1rv2osro1u0uc.cloudfront.net/
