node_modules
dist
coverage
output
test-results
.DS_Store
*.log
.serverless
apps/*/.serverless
.env*
!.env.example
!.env.production.example
apps/*/.env*
!apps/*/.env.example
!apps/*/.env.production.example
